body {
  height: 100vh;
  z-index: 3;
  overflow-x: hidden;
}

.content {
  flex: 1;
  text-align: left;
  width: 50%;
  padding-left: 5vw;
  padding-right: 0px;
}

.title {
  font-size: 5vw;
  font-weight: bold;
}

.subtitle {
  font-size: 2vw;
}

.start-button {
  padding: 2vh 12vw;
  background-color: #D21F3C;
  color: white;
  border: none;
  font-size: 3vw;
  border-radius: 1vw;
}

.human-image {
  position: absolute;
  width: auto;
  height: 40vw;
  z-index: 2;
  transform: translate(-25%, 0%);
}

.red-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80.8vw;
  height: 80.8vw;
  z-index: 1;
  background-color: #D21F3C;
  border-radius: 50%;
  transform: translate(45%, -55%);

}

.parent{
  display: flex;
}

.photo{
  width: 50%;
  position: relative;
  z-index: 3;
}

.parent-bottom{
  display: flex;
  height: 38vw;
  overflow: hidden;
}

.human-image1 {
  width: auto;
  height: 10vw;
  z-index: 3;
  transform: translate(150%,100%);
  background-color: #F8F8F8;
  padding: 1.5vw;
}

.human-image2 {
  position: absolute;
  width: auto;
  height: 10vw;
  z-index: 3;
  transform: translate(100%, 100%);
  background-color: #F8F8F8;
  padding: 1.5vw;
}

.red-circle-bottom {
  position: absolute;
  width: 65.8vw;
  height: 65.8vw;
  z-index: 1;
  background-color: #D21F3C;
  border-radius: 50%;
  transform: translate(-40%, 10%);
}

.left {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  flex: 1;
}
.right {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  flex: 1;
}

.lets-work{
  padding-top: 1.5vw;
  padding-right: 4.5vw;
  padding-left: 2vw;
  height: 8vw;
  background-color: white;
  border: 2px solid #F8F8F8;
  font-size: 2vw;
  color: Black;
  z-index: 2;
  transform: translate(50.5%, 260%);
  font-weight: bold;

}

.lets-work-button{
  position: absolute;
  padding: 1vw 2vw;
  background-color: #D21F3C;
  color: white;
  border: none;
  font-size: 1vw;
  border-radius: 0.3vw;
  z-index: 3;

}

.lets-hunt{
  padding-top: 1.5vw;
  padding-right: 2.5vw;
  padding-left: 2vw;
  height: 8vw;
  background-color: white;
  border-bottom: 2px solid #F8F8F8;
  transform: translate(100%, 266%);
  z-index: 2;
  font-size: 2vw;
  color: Black;
  font-weight: bold;
}

.lets-hunt-button{
  position: absolute;
  padding: 1vw 2.3vw;
  background-color: #D21F3C;
  color: white;
  border: none;
  font-size: 1vw;
  border-radius: 0.3vw;
  z-index: 3;
}